button{
    @apply  bg-slate-800 px-4 rounded-lg p-3 transition-all duration-500 ease-in-out  hover:bg-green-500 hover:scale-110 active:scale-95 text-white ;
}
.reset{
    @apply hover:bg-red-500
}
button:disabled {
    @apply bg-gray-400 cursor-not-allowed;
    @apply active:scale-100;
}

button:disabled:hover,
button:disabled:active {

    @apply bg-gray-400 scale-100 transition duration-500 ease-in-out delay-100;
}
input{
    @apply pl-4 focus:bg-black focus:text-sky-300 focus:bg-opacity-50 transition duration-500 ease-in-out

}